<nav>
    <a href="https://webpages.uncc.edu/hsklar/">Charlotte.edu</a>

    <a href="https://github.com/Harrysklar/Harrysklar.github.io">Github</a>

    <a href="https://Harrysklar.github.io/itis3135">Github.io</a>

    <a href="https://www.freecodecamp.org/Harrison_Sklar">freeCodeCamp</a>

    <a href="https://www.codecademy.com/profiles/Harrison_Sklar">Codecademy</a>

    <a href="https://www.linkedin.com/in/harrison-sklar-b695a6238/">LinkedIn</a>
</nav>
<p>
    Page designed by <a href="./sklar-tech.com/index.html">Sklar-Tech</a>&copy; 2025, 
    <i><a href="https://www.freecodecamp.org/certification/Harrison_Sklar/responsive-web-design" target="_blank">
    Certified in Responsive Web Design</a></i>
</p>
